<h3>Day wise reports</h3>
<table class="table table-hover table-striped">
    <tr>
        <th>Sr. no</th>
        <th>Reporter</th>
        <th>Project</th>
        <th>Duration</th>
        <th>Work Done</th>
        <th>Struggle </th>
    </tr>
    {% for value in reports %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{value.daily_report_id__user__username}}</td>
        <td>{{value.daily_report_id__project__project__title	}}</td>
        <td> {{value.duration_in_hours}} </td>
        <td> {{value.work_done}} </td>
        <td> {{value.struggle}} </td>
    </tr>
    {% endfor %}

</table>
