{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>
       Day wise Project Reports
    </title>
    {% endblock %}
    {% block extrajs %}
        <script src="{% static 'js/day_wise_reports.js' %}"></script>
    <script type="text/javascript">
    var reverseurl = "{% url 'src.main.views.jsreverse' %}";

        function reverse(urlstring, callback) {
            if (typeof callback != "function") {
                return false;
            }
            
            $.get(reverseurl + "?string=" + urlstring, callback);
        }
    </script>
    {% endblock %}
</head>
<body>
{% block content %}
<div class="container-fluid">
    <table class='custom-form'>
<tr>

        <td> <label> <b>Select Date:</b></label> <input id="id_review_date" name="date" type="text" /></td>
 
</tr>
</table>
<div id="day_wise_reports">

</div>
</div>
{% endblock %}
</body>
</html>
