{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>
       Day wise Project Reports
    </title>
    {% endblock %}
    {% block extrajs %}
        <script src="{% static 'js/day_wise_reports.js' %}"></script>
    <script type="text/javascript">
    var reverseurl = "{% url 'src.main.views.jsreverse' %}";

        function reverse(urlstring, callback) {
            if (typeof callback != "function") {
                return false;
            }
            
            $.get(reverseurl + "?string=" + urlstring, callback);
        }
    </script>
    {% endblock %}
</head>
<body>
{% block content %}


{% if active_trackers %}
<h3>Active trackers</h3>

<table class="table table-hover table-striped">
    <tr>
        <th>Sr. no</th>
        <th>Tracker</th>
        <th>Work in hand</th>
        <th>Started timer at</th>
        <th> Time elapsed </th>
    </tr>
    {% for person in appended_end_time %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{person.user_id__username}}</td>
        <td>{{person.work_done}}</td>
        <td> {{person.start_time}} </td>
        <td> {{person.days}}{{ " " }}Days, 
             {{ " " }}{{person.hours}}{{ " " }}hours, 
             {{ " " }}{{person.minutes}}{{ " " }}minutes <td>
    </tr>
    {% endfor %}

</table>
{% endif %}
<br><br><br>

<!--<div class="container-fluid">
    <table class='custom-form'>
<tr>-->
        <td> <label> <b>Day wise reports for:</b></label> <input id="id_review_date" name="date" type="text" /></td>
 
</tr> <br> <br>
</table>
<div id="day_wise_reports">

<table class="table table-hover table-striped">
    <tr>
        <th>Sr. no</th>
        <th>Reporter</th>
        <th>Project</th>
        <th>Duration</th>
        <th>Work Done</th>
        <th>Struggle </th>
    </tr>
    {% for value in reports %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{value.daily_report_id__user__username}}</td>
        <td>{{value.daily_report_id__project__project__title	}}</td>
        <td> {{value.duration_in_hours}} </td>
        <td> {{value.work_done}} </td>
        <td> {{value.struggle}} </td>
    </tr>
    {% endfor %}

</table>
</div>
</div>
{% endblock %}
</body>
</html>
